<div><%= @project.title %></div>
<div><%= @project.blurb %></div>
<div><%= @project.description %></div>

<form action="<%= api_project_url(@project) %>" method='POST'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <button>DELETE POST</button>
</form>