<form action="<%= api_teachers_url %>" method='POST'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Email
        <input type="text" name="user[email]" value="">
    </label>

    <label>Full Name
        <input type="text" name="teacher[full_name]" value="">
    </label>

    <label for="select_school">Select Your School</label>
        <select id="select_school" name="teacher[school_id]">
            <option selected>Select Your School</option>
            <% @schools.each do |school| %>
                <option value="<%= school.id %>"><%= school.name%></option>
            <% end %>
        </select> 

    <% honorifics = ["Coach", "Dr.", "Mr.", "Mrs.", "Ms.", "Mx."] %>
    <label>Teacher Name
        <select name="teacher[honorific]">
            <% honorifics.each do |honorific| %>
                <option value="<%= honorific %>"><%= honorific %></option>
            <% end %>
        </select>
        <input type="text" name="teacher[teacher_name]" value="">
    </label>

    <button>Create</button>
</form>


